h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: antiquewhite;
    margin-left: 150px;
    margin-right: 150px;
    padding:20px;
}
.burger-section {
    font-family: 'Poppins', sans-serif;
    border: 3px solid black;
    margin-left: 150px;
    margin-right: 150px;
    padding: 5px;
}

.pizza-section{
    font-family: 'Poppins', sans-serif;
    border: 3px solid black;
    margin-left: 150px;
    margin-right: 150px;
    padding: 5px;
    margin-top: 30px;

}